<?xml version="1.0" encoding="UTF-8"?>
<!-- 테스트에서는 콘솔만 사용한다 (Loki/Sentry 미부착). logback-spring.xml 보다 우선한다. -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.stockflow" level="DEBUG"/>
</configuration>
