# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stockflow
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Alpaca API
ALPACA_API_KEY=your-api-key
ALPACA_API_SECRET=your-api-secret
ALPACA_WEBSOCKET_URL=wss://stream.data.alpaca.markets/v2/iex
